@import "tailwindcss";
@layer theme, base, components, utilities;

/* Configuration des couleurs personnalisées pour Tailwind v4 */
@theme {
  --color-background: var(--color-white);
  --color-forground: var(--color-slate-800);
  --color-primary: var(--color-blue-700);
  --color-secondary: var(--color-blue-800);
}

/* Variables CSS globales */
:root {
  --sidebar-width: 247px;

  @variant dark {
    --color-primary: var(--color-blue-400);
    --color-secondary: var(--color-sky-500);
    --color-background: #0d1117;
    --color-forground: #f0f6fc;
  }
}

html {
  scroll-behavior: smooth;
}

main {
  @apply bg-background text-forground;
}

/* Styles pour les focus accessibles */
*:focus-visible {
  outline: 2px solid var(--color-vtherm-cyan);
  outline-offset: 2px;
}

/* Styles pour les sélections de texte */
::selection {
  @apply bg-green-500 text-blue-700;
}

/* Animation pour les accordéons */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.accordion-enter {
  animation: slideDown 0.2s ease-out;
}

.accordion-exit {
  animation: slideUp 0.2s ease-out;
}

.main-content h1 {
  @apply text-4xl text-primary font-bold py-4;
}

.main-content h2 {
  @apply text-3xl text-secondary font-semibold py-4;
}

.main-content h3 {
  @apply text-2xl text-secondary py-4;
}

.main-content p {
  @apply py-1.5;
}


.main-content ol {
  @apply list-decimal ps-11 py-4;
}

.main-content ol li {
  @apply py-0.5 ps-2.5;
}