@import "tailwindcss";
@layer theme, base, components, utilities;

/* Configuration des couleurs personnalisées pour Tailwind v4 */
@theme {
  --color-background: var(--color-white);
  --color-forground: var(--color-slate-800);

  --color-vtherm-primary: #800000;
  --color-vtherm-secondary: #E67249;
  --color-vtherm-tertiary: #306BE5;
  --color-vtherm-quaternary: #3EB0F2;
  --color-vtherm-light: #E7EFF9;
  --color-vtherm-dark: #121214;
  --color-primary: var(--color-vtherm-tertiary);
  --color-secondary: var(--color-vtherm-secondary);
}

/* Variables CSS globales */
:root {
  --sidebar-width: 247px;

  @variant dark {
    --color-primary: var(--color-vtherm-primary);
    --color-secondary: var(--color-sky-500);
    --color-background: #0d1117;
    --color-forground: #f0f6fc;
  }
}

html {
  scroll-behavior: smooth;
}

main {
  @apply bg-background text-forground;
}

nav.vtherm-navigation {
  scrollbar-color: var(--color-vtherm-quaternary) var(--color-neutral-900);
  scrollbar-width: auto;

  @variant dark {
    scrollbar-color: var(--color-vtherm-primary) var(--color-blue-900);
  }
}

/* Styles pour les focus accessibles */
*:focus-visible {
  outline: 2px solid var(--color-vtherm-cyan);
  outline-offset: 2px;
}

/* Styles pour les sélections de texte */
::selection {
  @apply bg-green-500 text-blue-700;
}

/* Animation pour les accordéons */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.accordion-enter {
  animation: slideDown 0.2s ease-out;
}

.accordion-exit {
  animation: slideUp 0.2s ease-out;
}

@layer components {
  h1 {
    @apply text-4xl text-vtherm-primary font-medium py-4;

    @variant dark {
      @apply text-vtherm-secondary;
    }
  }

  h2 {
    @apply text-3xl text-vtherm-secondary font-semibold py-4;
  }

  h3 {
    @apply text-2xl text-vtherm-tertiary py-4 dark:text-vtherm-quaternary;
  }

  .main-content p {
    @apply py-1.5;
  }

  .main-content ol {
    @apply list-decimal ps-11 py-4;
  }

  .main-content ol li {
    @apply py-0.5 ps-2.5;
  }

  .main-content ul {
    @apply list-disc ps-11 py-4;
  }

  .main-content a {
    @apply underline text-vtherm-tertiary dark:text-vtherm-quaternary hover:text-vtherm-primary transition duration-300;
  }
}

#bmc-wbtn {
  z-index: 20 !important;
}